.row
  .twelvecol.last
    %header
      %h1 About the-feel
.row#home_row
  .twelvecol.last
    .home_wrapper

      .circleBorder
        %article#about-the-feel
          money money money money!!!!!!!!


      .circlePic#mover
        = image_tag 'coloured_balls.png'

      .abcirc
        .description.blur
          %ul
            %li About:
            %li= link_to 'the-feel', about_path
            %li= link_to 'the-founder', about_founder_path
            %li= link_to 'the-cost', about_cost_path 
