.row
  .twelvecol.last
    %header
      %h1 About the-feel
.row#home_row
  .twelvecol.last
    .content_wrapper

      .circleBorder
        %article#about-the-feel
          the-feel is a web design and photography company based in North London and founded by former teacher and IT Manager/Director 
          Eric Waring.<br /><br /> the-feel delivers high quality, bespoke, yet affordable web sites for the discerning client who requires something different
          from common, template driven, off the shelf designs. We particularly enjoy working with small businesses and creatives.
          <br /><br />As well as web design we can offer IT consultancy, trouble shooting, database work, IT solution development (spreadsheets/automated processes)
          and photography. Explore the site and get in touch  - we don't bite and are convinced that we can help improve your business:-)

      .circlePic#mover
        = image_tag 'coloured_balls2.png'

      .abcirc
        .description.blur
          %ul
            <br />
            %li About:
            %li= link_to 'the-feel', about_path
            %li= link_to 'the-founder', about_founder_path
            /%li= link_to 'the-cost', about_cost_path 