.row
  .twelvecol.last
    %header
      %h1 the-feel : photography
.row#home_row
  .twelvecol.last
    .content_wrapper

      .circleBorder
        %article#about-the-feel
          We pride ourselves on being approachable, friendly people so please contact us to either have a chat or to arrange a 
          time to meet and discuss your requirements over a coffee (or a beer!)<br /><br /><br />

          %ul
            %li 
              email:
              =mail_to 'ericw@the-feel.co.uk', 'ericw@the-feel.co.uk'
              <br /><br />
            %li mobile: 07813 300 602<br /><br />
            .smaller
              %li the-feel ltd
              %li Registered in England and Wales
              %li Company No. 7699718
              %li Registered Address:
              %li 93c Ferme park Road
              %li London, N8 9SA


      .circlePic#mover
        = image_tag 'moreballs.png'

  
