.row
  .twelvecol.last
    %header
      %h1 the-feel : web portfolio 
      
.row#home_row
  .twelvecol.last
    <br />click on the circles to see some of the websites we have developed:
    .content_wrapper#portfolioframe
      .frame.smallframe#frame1 
        =link_to (image_tag 'webPortfolio/ArtificialDesigns.png', :alt => 'Artificial Designs - David Apps Photography'), |
        'http://www.artificialdesigns.co.uk/', :target => '_blank', :class => 'fbTooltip', |
        :'data-fb-tooltip' => "source:'#hidden1' attachToHost:true placement:center colorTheme:custom boxColor:#222 innerBorderColor:#555 outerBorderColor:#555 contentBackgroundColor:#222"
      .frame.smallframe#frame2
        =link_to (image_tag 'webPortfolio/AlliancePublishingPress.png', :alt => 'Alliance Publishing Press Ltd'), |
        'http://www.alliancepublishingpress.com/', :target => '_blank', :class => 'fbTooltip', |
        :'data-fb-tooltip' => "source:'#hidden2' attachToHost:true placement:center colorTheme:custom boxColor:#222 innerBorderColor:#555 outerBorderColor:#555 contentBackgroundColor:#222"
      .frame.smallframe#frame3
        =link_to (image_tag 'webPortfolio/bluedrummusic.png', :alt => 'blue drum music'), |
        'http://www.bluedrummusic.com/', :target => '_blank', :class => 'fbTooltip', |
        :'data-fb-tooltip' => "source:'#hidden3' attachToHost:true placement:center colorTheme:custom boxColor:#222 innerBorderColor:#555 outerBorderColor:#555 contentBackgroundColor:#222"
      .frame.smallframe#frame4
        =link_to (image_tag 'webPortfolio/lifestylepix.png', :alt => 'Lifestylepix photography'), |
        'http://www.lifestylepix.co.uk/', :target => '_blank', :class => 'fbTooltip', |
        :'data-fb-tooltip' => "source:'#hidden4' attachToHost:true placement:center colorTheme:custom boxColor:#222 innerBorderColor:#555 outerBorderColor:#555 contentBackgroundColor:#222"

      .frame#bigframe
        .innerframe#innerframe
          =link_to (image_tag 'webPortfolio/ArtificialDesignslrg.png', :id => 'image1', :alt => 'Artificial Designs - David Apps Photography'), 'http://www.artificialdesigns.co.uk/', :target => '_blank'
          =link_to (image_tag 'webPortfolio/AlliancePublishingPresslrg.png', :id => 'image2', :alt => 'Alliance Publishing Press Ltd'), 'http://www.alliancepublishingpress.com/', :target => '_blank'
          =link_to (image_tag 'webPortfolio/bluedrummusiclrg.png', :id => 'image3', :alt => 'blue drum music'), 'http://www.bluedrummusic.com/', :target => '_blank'
          =link_to (image_tag 'webPortfolio/lifestylepixlrg.png', :id => 'image4', :alt => 'Lifestylepix photography'), 'http://www.lifestylepix.co.uk/', :target => '_blank'
          =link_to (image_tag 'webPortfolio/minnawaringlrg.png', :id => 'image6', :alt => 'Minna Waring Photography'), 'http://www.minnawaring.com/', :target => '_blank'
          =link_to (image_tag 'webPortfolio/ELSPICSlrg.png', :id => 'image7', :alt => 'elspics Photography'), 'http://www.elspics.co.uk/', :target => '_blank'

      .frame.smallframe#frame5
        .fcontent 
          &nbsp;

      .frame.smallframe#frame6
        =link_to (image_tag 'webPortfolio/minnawaring.png', :alt => 'Minna Waring Photography'), |
        'http://www.minnawaring.com/', :target => '_blank', :class => 'fbTooltip', |
        :'data-fb-tooltip' => "source:'#hidden6' attachToHost:true placement:center colorTheme:custom boxColor:#222 innerBorderColor:#555 outerBorderColor:#555 contentBackgroundColor:#222"

      .frame.smallframe#frame7
        =link_to (image_tag 'webPortfolio/ELSPICS.png', :alt => 'Elspics Photography'), |
        'http://www.elspics.co.uk/', :target => '_blank', :class => 'fbTooltip', |
        :'data-fb-tooltip' => "source:'#hidden7' attachToHost:true placement:center colorTheme:custom boxColor:#222 innerBorderColor:#555 outerBorderColor:#555 contentBackgroundColor:#222"

      .frame.smallframe#frame8
        .fcontent 
          &nbsp;

      /.abcirc
      /  .description.blur
      /    %ul
      /      %li Services:
      /      %li= link_to 'web design', services_web_path
      /      %li= link_to 'consultancy', services_consult_path
      /      %li= link_to 'training', services_training_path 
      /      %li= link_to 'photography', services_photo_path 
#tooltips
  #hidden1
    David Apps<br />Photography & Design
  #hidden2
    Alliance Publishing Press
  #hidden3
    blue drum music<br />(uses flash)
  #hidden4
    lifestylepix<br />(uses flash)
  #hidden6
    Minna Waring Photography<br />(uses flash)
  #hidden7
    elspics<br />(uses flash)

  