.row
  .twelvecol.last
    %header
      %h1 the-feel : web portfolio 
      
.row#home_row
  .twelvecol.last
    .content_wrapper#portfolioframe
      .frame.smallframe#frame1 
        =image_tag 'webPortfolio/ArtificialDesigns.png', :title => 'www.artificialdesigns.co.uk'
      .frame.smallframe#frame2
        =image_tag 'webPortfolio/AlliancePublishingPress.png', :title => 'www.alliancepublishingpress.com'
      .frame.smallframe#frame3
        =image_tag 'webPortfolio/bluedrummusic.png', :title => 'www.bluedrummusic.com'
      .frame.smallframe#frame4
        =image_tag 'webPortfolio/lifestylepix.png', :title => 'www.lifestylepix.co.uk'

      .frame#bigframe
        #innerframe=render 'webs/artificialdesigns'

      .frame.smallframe#frame5
        .fcontent 
          &nbsp;

      .frame.smallframe#frame6
        =image_tag 'webPortfolio/minnawaring.png', :title => 'www.minnawaring.com'

      .frame.smallframe#frame7
        =image_tag 'webPortfolio/ELSPICS.png', :title => 'www.elspics.co.uk'

      .frame.smallframe#frame8
        .fcontent 
          &nbsp;

      /.abcirc
      /  .description.blur
      /    %ul
      /      %li Services:
      /      %li= link_to 'web design', services_web_path
      /      %li= link_to 'consultancy', services_consult_path
      /      %li= link_to 'training', services_training_path 
      /      %li= link_to 'photography', services_photo_path 


  