body{
  .circlePic{
    position:relative;
    display:block;
    height:15em;
    width:15em;
    left:31em;
    opacity: 0.8;
  }
  article{
        
        width:70%;
/*        height:70%;*/
        font-size:1em;
        text-align:center;
        vertical-align:middle;
        margin:6em 5em;
        overflow:hidden;
      }
}