.home_wrapper{
  font-size: 11px;
  width:600px;
  height:600px;
  position:relative;
  top:150px;
  left:200px;
  
  .small_images{
    img{
      display:none;
      position:absolute;
      left:6px;
      top:6px;
    }
  }
  
  .circleBig{
    position:absolute;
    top:0px;
    left:0px;
    width:418px;
    height:418px;
    background:transparent url('lrg_eric.png') no-repeat top left;
  }
  
  .menu{
    position:absolute;
    width:101px;
    height:74px;
    top:232px;
    left:320px;
    z-index:999;
  }
  a.about, a.services, a.portfolio, a.contact{
    float:left;
    clear:both;
    height:23px;
    margin-bottom:10px;
    width:79px;
    text-indent:-2000000px;
    opacity:0.7;
    background:transparent url('menu_titles.png') no-repeat top left;
    
  } 
  
  a.services{
    width:105px;
    margin-left:-44px;
    background-position: -75px 0px;
  }
  
  a.portfolio{
    width:115px;
    margin-left:-65px;
    background-position: -190px 0px;
  }
  
  a.contact{
    width:90px;
    margin-left:-85px;
    background-position: -307px 0px;
  }
  
  a.about:hover, a.services:hover, a.portfolio:hover, a.contact:hover{opacity:1.0;}
}
