
@import "./partials/font_families";
/* ======================================================================= */
/* ! Layout for desktop version   */
/* ======================================================================= */
body {

}

/* ======================================================================= */
/* ! Layout for desktop version   */
/*       1200 and smaller screens          */
/* ======================================================================= */

@media only screen and (max-width: 1200px) {

  body {}
    
}

/* ======================================================================= */
/* ! Layout for desktop version   */
/*       1068 and smaller screens          */
/* ======================================================================= */

/*@media only screen and (max-width: 1068px) {*/

/*  body {
    .bodyText {
      @include body_text(0.865em); 

    }
  }
}*/

/* ======================================================================= */
/* ! Layout for desktop version   */
/*       Smaller screens          */
/* ======================================================================= */

@media only screen and (max-width: 1023px) {

  body {
    font-size: 0.9em;
    .circleBorder{line-height:1.5em;}
    .content_wrapper{top:2em;}
/*	line-height: 1em;*/
	}
    
}

/* ======================================================================= */
/* ! Layout for desktop version   */
/*       Even Smaller screens          */
/* ======================================================================= */
@media only screen and (max-width: 900px) {

  body {
    #logo{min-height:8em;min-width:8em;}
  }
    
}

/* ======================================================================= */
/* ! Layout for mobile version   */
/* ======================================================================= */

@media handheld, only screen and (max-width: 767px) {
  body {
    #sidebar{padding:0}
    #logo{
      max-height:8em;
      max-width:70%;
    }
    .bmenu{padding:0;}
    .blur{
      ul{display:inline-block;}
      a{
        text-align:left;
      }
    }
    
    #mainContent{
      padding:0;
      header{
        h1{
          font-size:1.3em;
          padding:0;
        }
      }
    }
    .content_wrapper{left:0;}
    .home_wrapper{left:0;}
  }
  
    
}

/* very narrow!*/

@media handheld, only screen and (max-width: 767px) {

  
  
}

/* ======================================================================= */
/* ! Provide higher res assets for iPhone 4   */
/* ======================================================================= */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
  
body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
  #sidebar{padding:0}
    #logo{
      max-height:8em;
      max-width:70%;
    }
    .bmenu{padding:0;}
    .blur{
      ul{display:inline-block;}
      a{
        text-align:left;
      }
    }
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}